# SQL for accessing postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [2]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

### Q1: adm2のテーブルのはじめの３行を表示せよ。

In [3]:
sql = "select * from adm2 limit 3;"

In [4]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   gid   id_0  iso name_0  id_1 name_1  id_2 name_2 type_2 engtype_2  \
0    1  114.0  JPN  Japan   1.0  Aichi   1.0   Agui  Machi      Town
1    2  114.0  JPN  Japan   1.0  Aichi   2.0  Aisai    Shi      City
2    3  114.0  JPN  Japan   1.0  Aichi   3.0   Anjō    Shi      City

  nl_name_2 varname_2                                               geom
0      阿久比町      None  0106000020E6100000010000000103000000010000005F...
1       愛西市      None  0106000020E610000001000000010300000001000000B9...
2       安城市      None  0106000020E610000001000000010300000001000000E3...

### Q2. 埼玉県に市町村はいくつ？

In [5]:
sql = "select count(*) from adm2 where name_1='Saitama';"

In [6]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   count
0     70

### Q3. 埼玉県内の市町村の面積はいくつ？

In [7]:

sql = "select name_2, st_area(geom::geography)/1000000 as area_km2 from adm2 where name_1='Saitama' order by area_km2 desc;"

In [8]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

      name_2    area_km2
0   Chichibu  580.613825
1    Saitama  214.786049
2      Hannō  193.310708
3      Ogano  166.334062
4   Kumagaya  152.581820
..       ...         ...
65    Yashio   14.055176
66      Wakō   13.258872
67     Shiki    9.550229
68  Hatogaya    7.359766
69    Warabi    6.587194

[70 rows x 2 columns]

### Q4. 埼玉県に市町村はいくつ？(osmで)

In [10]:
sql = "with saitama_pref as \
    (select * from planet_osm_polygon \
        where name='埼玉県' and \
        admin_level='4') \
    select count(*) from planet_osm_polygon as c, saitama_pref as p \
    where c.admin_level='7' and st_within(c.way, p.way);"

#admin_level='4'で県レベル
#admin_level='7'で市町村レベル
#st_within(c.way,p.way):c.wayでp.wayに含まれているもの

In [11]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   count
0     75

### Q5. さいたま市内のコンビニの総数

In [12]:
sql = "select count(pt.*) from planet_osm_point pt, adm2 poly \
        where pt.shop='convenience' and \
            poly.name_2='Saitama' and \
            st_within(pt.way,st_transform(poly.geom, 3857));"
#planet_osm_point(pt)の要素をカウントする
#条件： pt.shopがコンビニ
#       poly.name_2が埼玉
#       pt.wayでst_transform(poly.geom, 3857)に含まれるもの、ptとpolyの同期を図る(?)、polyは関東の情報しかない

In [13]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   count
0    405

### Q6. 埼玉市内の駅周辺（半径300 m）のコンビニはいくつ？

In [14]:
sql = "select buffer.name, count(DISTINCT(pt.osm_id)) from planet_osm_point as pt, \
        (select pt.osm_id, pt.name, st_buffer (pt.way, 300) \
            from planet_osm_point pt, adm2 poly2 \
        where pt.railway='station' and poly2.name_2='Saitama' and \
        st_within(pt.way,st_transform(poly2.geom, 3857))) as buffer, adm2 as poly \
        where pt.shop='convenience' and poly.name_2='Saitama' and \
        ST_Within(pt.way,buffer.st_buffer) \
        group by buffer.name order by count desc;"

# planet_osm_point(pt)のpt.osm_id(重複分は除く)をカウント
# 条件：    ptと埼玉県内の駅の300m以内のデータのテーブルを組み合わせる
#           pt.railwayが駅poly2.name_2が埼玉
#           ptとpoly2の同期を取り、bufferとする。次はコンビニを抽出するのでadm2をpoly
#           pt.shopがコンビニ、poly.nameが埼玉
#           pt.wayで300m以内のもの(参照情報は駅周辺)
#           buffer.name(駅名)でグループ化して多い順に並べ替え

In [15]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

           name  count
0            大宮     19
1           北浦和      9
2            浦和      7
3           南浦和      7
4            宮原      6
5          武蔵浦和      5
6            与野      5
7            指扇      4
8           東浦和      4
9            岩槻      4
10          東大宮      4
11           日進      4
12      さいたま新都心      3
13           土呂      3
14          大和田      2
15          中浦和      2
16          東岩槻      2
17         与野本町      2
18           七里      2
19         浦和美園      2
20        鉄道博物館      2
21          北与野      2
22           今羽      2
23         大宮公園      1
24          北大宮      1
25          東宮原      1
26          加茂宮      1
27          西大宮      1
28  はくぶつかんちゅうおう      1