## prerequisites

In [20]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [21]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [41]:
# 5 埼玉県内の全鉄道駅において、2020年4月(休日・昼間)の人口を、大きい順に並べ、最初の10件を示せ。

sqlf5 = "WITH \
        sta AS ( \
            SELECT pt.name as station, p.name as id \
            FROM planet_osm_point as pt, adm2 as poly, pop_mesh as p \
            WHERE pt.railway='station' and \
                  poly.name_1='Saitama' and   \
                  st_within(pt.way,st_transform(poly.geom, 3857)) and\
                  st_within(pt.way,st_transform(p.geom, 3857))), \
        pp AS ( \
            SELECT p.name, d.prefcode, d.year, d.month, d.population, d.mesh1kmid as id \
            FROM pop AS d \
            INNER JOIN pop_mesh AS p \
                ON p.name = d.mesh1kmid \
            WHERE d.dayflag='0' AND \
                d.timezone='0' AND \
                d.year='2020' AND \
                d.month='04' \
        ) \
    SELECT sta.station, sum(pp.population) as population \
        FROM sta \
        INNER JOIN pp ON sta.id = pp.id \
    GROUP BY  sta.station\
    ORDER BY population DESC \
    LIMIT 10;"

# pop:人口情報
# pop_mesh:人口情報に色を加えたもの
# dayflag:平日(1)か休日(0)か
# timezone:昼(0)か深夜(1)か

## Outputs

In [42]:
out = query_pandas(sqlf5,'gisdb')
print(out)

  station  population
0      大宮    112490.0
1      川口     43673.0
2      川越     33884.0
3     和光市     30682.0
4     東川口     28176.0
5    武蔵浦和     26397.0
6       蕨     26308.0
7     西川口     25977.0
8      所沢     24941.0
9      浦和     23675.0